<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" > 


<suite name="Suite1" verbose="1">

	<test name="Login">

		<classes>
		    <class name="org.moebelApp.com.Base" />
	  <class name="org.moebelApp.com.InspirationLanding" /> 
		<!--  <class name="org.moebelApp.com.MagazinLanding" /> -->
		</classes>
	</test>

</suite>